name: Docker Image CI

on:
  push:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ secrets.CR_USER }}
        password: ${{ secrets.CR_PAT }}
        
    - name: Build and Push
      id: publish
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: ghcr.io/lyl-radio/libretime:latest
        
    - name: Image digest
      run: echo ${{ steps.publish.outputs.digest }}
